@page
@model Azaliq.WebApp.Areas.Identity.Pages.Account.Manage.TwoFactorAuthenticationModel
@{
    ViewData["Title"] = "Two-factor authentication";
    Layout = "/Areas/Identity/Pages/Account/Manage/_ManageLayout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<p class="text-success">@Model.StatusMessage</p>

<div class="mb-4">
    <h4>Email as 2FA</h4>
    @if (Model.IsEmail2faEnabled)
    {
        <p>Email will be used to send a one-time code on login.</p>
        <form method="post" asp-page-handler="DisableEmail2fa">
            <button class="btn btn-outline-danger">Disable Email-2FA</button>
        </form>
    }
    else
    {
        <p>When enabled, you will get a one-time code sent to your email on each login.</p>
        <form method="post" asp-page-handler="EnableEmail2fa">
            <button class="btn btn-primary">Enable Email-2FA</button>
        </form>
    }
</div>

<div class="mb-4">
    <h4>Remember this browser</h4>
    @if (Model.IsMachineRemembered)
    {
        <p>This browser is remembered.</p>
        <form method="post" asp-page-handler="ForgetBrowser">
            <button class="btn btn-warning">Forget this browser</button>
        </form>
    }
    else
    {
        <p>This browser is not remembered.</p>
    }
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}